<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>myToDo</title>

    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- custom styles -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <!-- <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"> -->

  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <buttton type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </buttton>
          <a class="navbar-brand" href="#"><img style="margin-top: -35px; max-width:100px" src="./favicon-96x96.png" /></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="todo-section">
      <div class="container" ng-controller="todo-controller">

        <div class="col-lg-offset-1 col-lg-10" id="todo-list">
          <to-do-item ng-repeat="item in items" text={{item}}></to-do-item>
        </div>

        <div class="col-lg-offset-1 col-lg-10">
          <form class="todo-form" ng-submit='add(todo)'>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Todo Item" ng-model="todo.item"/>
            </div>
             <pre>todo = {{todo | json}}</pre>
          </form>
        </div>
      </div>
    </section>

    <!-- angularjs -->
    <script src="https://opensource.keycdn.com/angularjs/1.6.2/angular.min.js"></script>
    <script src="app.js"></script>

    <!-- bootstrap and jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
